{erl_opts, [debug_info, {src_dirs, ["asn1", "src"]},
	    nowarn_export_all,
            {i, "include"},
            {i, "../fast_xml/include"},
            {i, "deps/fast_xml/include"}]}.

{port_env, [{"CFLAGS", "$CFLAGS"}, {"LDFLAGS", "$LDFLAGS"}]}.

{port_specs, [{"priv/lib/jid.so", ["c_src/jid.c"]},
	      {"priv/lib/xmpp_uri.so", ["c_src/xmpp_uri.c"]},
	      {"priv/lib/xmpp_lang.so", ["c_src/xmpp_lang.c"]}]}.

{deps, [{p1_utils, ".*", {git, "https://github.com/processone/p1_utils", {tag, "1.0.16"}}},
	{fast_xml, ".*", {git, "https://github.com/processone/fast_xml", {tag, "1.1.37"}}},
	{fast_tls, ".*", {git, "https://github.com/processone/fast_tls", {tag, "1.1.2"}}},
	{ezlib, ".*", {git, "https://github.com/processone/ezlib", {tag, "1.0.6"}}},
        {stringprep, ".*", {git, "https://github.com/processone/stringprep", {tag, "1.0.17"}}}]}.

{clean_files, ["c_src/jid.gcda", "c_src/jid.gcno"]}.

{cover_enabled, true}.
{cover_export_enabled, true}.

{xref_checks, [undefined_function_calls, undefined_functions, deprecated_function_calls, deprecated_functions]}.

{profiles, [{test, [{erl_opts, [{src_dirs, ["src", "test"]}]}]}]}.
